body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;/* использование подтянутого в head'e шрифта*/
}
.header {
    width: 100%;
    height: 90px;
    /* border: 1px solid red; */
    padding: 0 140px; /* внутренний отступы для header верх-низ лево-право*/
    box-sizing: border-box; /* это свойство сохраняет размер header-а несмотря на padding и border которые его увеличивают, используется когда применяется padding или border*/
    display: flex;/*включается свойство для позиционнирования*/
    justify-content: space-between; /*свойство для позиционнирования по горизонтали*/
    align-items: center; /*свойство для позиционнирования по вертикали*/
}

.links {
    height: 100%;/*высота блока с ссылками */
    display: flex;/*включается свойство для позиционнирования*/
    align-items: center;/*свойство для позиционнирования по вертикали*/
}

.links-item {
    text-transform: capitalize; /*все слова делает с большой буквы */
    text-decoration: none;/*убирает подчеркивание */
    color: #6c6c6c;
    font-size: 20px;
    margin-right: 38px;/*отступы справа */
    height: 100%;/*высота ссылок */
    display: flex;/*включается свойство для позиционнирования*/
    align-items: center;/*свойство для позиционнирования по вертикали*/
    box-sizing: border-box; /* это свойство сохраняет размер header-а несмотря на padding и border которые его увеличивают, используется когда применяется padding или border*/
    border-bottom: 3px solid transparent;
    transition: 0.3s;
}

.links-item-active {
    border-bottom: 3px solid  #5094f2;
}

.links-item:hover {
    border-bottom: 3px solid  rgba(80, 148, 242, 0.5);
}


.links-item:last-child {/*псевдо класс обращения к последнему элементу в группе (класса links-item) */
    margin-right: 0;/*отступ справа для последнего убираем */
}

.banner {
    width: 100%;
    height: 480px;
    background-image: url("../images/banner.jpg"); /*две точки означают вернуться на папку выше относительно style.css*/
    background-repeat: no-repeat;/*свойство которое управляет повторением картинки*/
    background-size: cover;/*свойство которое управляет размером картинки внутри блока, расширяет пропорционально по обеим осям, что не влазит, отрезает  CONTAIN - вписывает всегда по обеим сторонам не отрезая*/
    background-position: center;/*свойство которое управляет положением картинки внутри блока*/
    display: flex;/*включается свойство для позиционнирования*/
    align-items: center;/*свойство для позиционнирования по вертикали*/
    justify-content: space-between;/*свойство для позиционнирования по горизонтали*/
    padding: 0 90px;
    box-sizing: border-box;
}

.arrow-right {
    transform: rotate(180deg);/*поворачивает правую стрелку на 180 градусов*/
}

.arrow{
    transition: 0.4s;
    cursor: pointer;/*делает возможным нажатие на стрелку*/
}

.arrow-right:hover{
    transform: scale(1.3) rotate(180deg)/*это свойство не смещает картинку при изменении положения размера и повороте В данном случае увеличиваем на 30%*/
}

.arrow-left:hover{
    transform: scale(1.3)/*это свойство не смещает картинку при изменении положения размера и повороте В данном случае увеличиваем на 30%*/
}

.text {
    color: white;
    font-size: 26px;
    margin-left: 100px;
    display: flex;/*по умолчанию флекс всё ставит в строку(ряд)*/
    flex-direction: column;/*НО с такой настройкой флекс ставит в колонку*/
}

.text-big{
    font-size: 42px;
    margin-bottom: 25px;
}

.text-small{
    line-height: 45px;/*устанавливает расстояние между строками*/
}
.button{
    width: 170px;
    height: 40px;
    background-color: #5094f2;
    border-radius: 3px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-top: 40px;
}

.button-img{
    margin-right: 10px;
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services {
    width: 100%;
    height: 410px;
    padding: 0 140px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-item {
    height: 270px;
    width: 250px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
 
.circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue {
    background: #5094f2 ;
}

.red {
    background: #d94748 ;
}

.yellow {
    background: #ebbb11 ;
}

.service-title {
    color: #5094f2;
    font-size: 20px;
}

.service-desc {
    font-size: 14px;
    color: #909090;
    text-align: center;
}

.cart {
    height: 430px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 180px 0 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-title {
    font-size: 42px;
    color: #6f7173;
    margin-bottom: 34px;
}

.cart-image {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 90px;
}

.cart-info {
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    box-sizing: border-box;
}

.info-title {
    font-size: 26px;
    color: #6f7173;
    margin-bottom: 36px;
}

.info-text {
    font-size: 15px;
    color: #999999;
    line-height: 40px;
    letter-spacing: -1px; /*свойство для отступа между буквами или плотность текста*/
}